@import "tailwindcss";

:root {
    background-color: #FFFFFF;
    font-family: Inter, sans-serif;
}

.hi {
    background-color: #FFFFFF;
}

@theme {
    --background: #FFFFFF;
}

.cell-scroll::-webkit-scrollbar {
    height: 3px;
}
.cell-scroll::-webkit-scrollbar-track {
    background: transparent;
}
.cell-scroll::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 9999px;
}